{% extends 'base.html.twig' %}

{% block title %}Hello ReportsController!{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>Please enter the Account ID you'd like to display:</p>

    <div class="row">
        <form class="col s12" method="post" action="{{ path('retrieve-data') }}">
            <div class="row">
                <div class="input-field col s4">
                    <input name="accountId" id="accountId" type="text" value="{{ accountId }}">
                    <button class="waves-effect waves-light btn" type="submit">GET DATA</button>
                    <button name="showAll" class="waves-effect waves-light btn" type="submit" value="1">SHOW ALL</button>
                </div>
            </div>
        </form>
    </div>
    <p>Aggregated performance for All <strong>ACTIVE</strong> accounts is listed below</p>
    <div class="divider"></div>

    <table>
        <thead>
        <tr>
            <th>Account Name</th>
            <th>Account ID</th>
            <th>Spend</th>
            <th>Clicks</th>
            <th>Impressions</th>
            <th>Cost per Clicks</th>

        </tr>
        </thead>
        <tbody>
        {% if data |length == 0%}
            <tr><td style="text-align: center" colspan="6">No data available for the supplied Account Id</td></tr>
        {% endif %}
        {% for element in data %}
            <tr>
                <td>{{ element["accountName"] }}</td>
                <td>{{ element["accountId"] }}</td>
                <td>{{ element["spend"] }}</td>
                <td>{{ element["clicks"] }}</td>
                <td>{{ element["impressions"] }}</td>
                <td>{{ element["costPerClick"] }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
{% endblock %}
